
# Python files
__pycache__/
env/
.venv/
venv/

# OS files
.DS_Store
.DS_Store?

# Logs
*.log

# IDE files
.vscode/
.idea/

# Autogluon tests
agModels*/
**/__pycache__/
*_tutorial
autogluon-m4_hourly
AutogluonModels
model.tar.gz
/logs