# Ignore the cloned deep learning container repository
deep-learning-container/

# Python files
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/